body{
    color: #000000;
    padding: 0 0em;
    margin: 0;
}
p{
    margin: 1em 0;
}
.header{
    width: 100%;
    height: 100%;
}
.nav{
    margin: 1vh;
    height: 7vh;
    display: flex;
    justify-content:center;
}

.href{
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    justify-content: center;
    line-height: 1em;
    width: 9vw;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
    margin-top: 1vh;
    margin-right: 4vw;
    line-height: 4vh;
}
.href:active,
.href:hover {
    outline: 0;
}

.href a{
    text-decoration: none;
    background-color: rgba(128, 160, 255, 0.676);
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    text-shadow: 1px 1px 0px rgb(194, 220, 233), 2px 2px 2px rgb(49, 166, 233),
    3px 3px 2px rgb(31, 153, 224), 5px 5px 2px rgb(20, 120, 236);
    font-size: 2.5vh;
    line-height: 5vh;
}
.href:hover a{
    background: none;
}
.href:active{
    transform: scale(0.9);
}

.container{
    width: 45vw ;
    padding-top: 8vh;
    margin: auto;
}
.content{
    height: 47vh;
    padding: 3vh;
    flex: 1;
    background-color: rgba(132, 119, 192, 0.413);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow-y: scroll;
    box-shadow:
    12.9px 8.5px 2.6px rgba(0, 0, 0, 0.017),
    24.6px 16.3px 5.5px rgba(0, 0, 0, 0.024),
    35.7px 23.6px 8.8px rgba(0, 0, 0, 0.029),
    46.8px 31px 12.7px rgba(0, 0, 0, 0.033),
    58.6px 38.8px 17.4px rgba(0, 0, 0, 0.037),
    72.1px 47.8px 23.6px rgba(0, 0, 0, 0.042),
    89px 58.9px 32.1px rgba(0, 0, 0, 0.047),
    112px 74.2px 45px rgba(0, 0, 0, 0.053),
    147.9px 97.9px 67.6px rgba(0, 0, 0, 0.062),
    228px 151px 119px rgba(0, 0, 0, 0.08);
}
.content:hover::-webkit-scrollbar-thumb{
    background:rgba(0,0,0,0.1);
}
.bubble{
    max-width: 24vw;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    color: #000;
    word-wrap:break-word;
    word-break:normal; 
}
.item-left .bubble{
    margin-left: 1vw;
    background-color: #fff;
}
.item-left .bubble:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: -1vw;
}
.item-right .bubble{
    margin-right: 1vw;
    background-color: #9eea6a;
}
.item-right .bubble:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid #9eea6a;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -1vw;
}
.item{
    margin-top: 1vw;
    display: flex;
    width: 100%;
}
.item.item-right{
    justify-content: flex-end;
}
.item.item-center{
    justify-content: center;
}
.item.item-center span{
    font-size: 12px;
    padding: 2px 4px;
    color: #fff;
    background-color: #dadada;
    border-radius: 3px;
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    user-select:none;
}
.input-area{
    border-top:0.5px solid #e0e0e0;
    height: 20vh;
    width: 45vw;
    display: flex;
    flex-flow: column;
    background-color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
textarea{
    flex: 1;
    padding: 1vw;
    font-size: 3vh;
    border: none;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
    resize: none;
}
.button-area{
    display: flex;
    height: 4vh;
    margin-right: 1vw;
    line-height: 6vh;
    padding: 1vh;
    justify-content: flex-end;
}

.button-area button{
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    font-size: 1vw;
    font-family: inherit;
    letter-spacing: .25px;
    line-height: normal;
    padding-left: 2vw;
    padding-right: 2vw;
    transition: background box-shadow 280ms ease;
}
.button-area button:hover{
    background: #F6F9FE;
    color: #174ea6;
}
.button-area button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
    border: 2px solid #4285f4;
}

.avatar-bot{
    background-image: url("../images/bot.jpeg");
    width: 3vw;
    background-size: 5vh;
    background-repeat: no-repeat;
}
.avatar-user{
    background-image: url("../images/girl.jpeg");
    width: 3vw;
    background-size: 5vh;
    background-repeat: no-repeat;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #858bff;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 14s linear infinite;
}

.background li:nth-child(0) {
    left: 76%;
    width: 69px;
    height: 69px;
    bottom: -69px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 54%;
    width: 88px;
    height: 88px;
    bottom: -88px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 87%;
    width: 208px;
    height: 208px;
    bottom: -208px;
    animation-delay: 1s;
}
.background li:nth-child(3) {
    left: 82%;
    width: 196px;
    height: 196px;
    bottom: -196px;
    animation-delay: 9s;
}
.background li:nth-child(4) {
    left: 80%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 4s;
}
.background li:nth-child(5) {
    left: 60%;
    width: 190px;
    height: 190px;
    bottom: -190px;
    animation-delay: 18s;
}
.background li:nth-child(6) {
    left: 43%;
    width: 119px;
    height: 119px;
    bottom: -119px;
    animation-delay: 16s;
}
.background li:nth-child(7) {
    left: 64%;
    width: 144px;
    height: 144px;
    bottom: -144px;
    animation-delay: 4s;
}
.background li:nth-child(8) {
    left: 88%;
    width: 185px;
    height: 185px;
    bottom: -185px;
    animation-delay: 14s;
}
.background li:nth-child(9) {
    left: 21%;
    width: 72px;
    height: 72px;
    bottom: -72px;
    animation-delay: 39s;
}
.background li:nth-child(10) {
    left: 54%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 14s;
}
.background li:nth-child(11) {
    left: 80%;
    width: 66px;
    height: 66px;
    bottom: -66px;
    animation-delay: 8s;
}
.background li:nth-child(12) {
    left: 25%;
    width: 192px;
    height: 192px;
    bottom: -192px;
    animation-delay: 32s;
}
.background li:nth-child(13) {
    left: 7%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 39s;
}
.background li:nth-child(14) {
    left: 30%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 23s;
}
.background li:nth-child(15) {
    left: 11%;
    width: 95px;
    height: 95px;
    bottom: -95px;
    animation-delay: 56s;
}
.background li:nth-child(16) {
    left: 85%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 16s;
}
.background li:nth-child(17) {
    left: 2%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 30s;
}
.background li:nth-child(18) {
    left: 70%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 32s;
}
.background li:nth-child(19) {
    left: 36%;
    width: 158px;
    height: 158px;
    bottom: -158px;
    animation-delay: 5s;
}
.background li:nth-child(20) {
    left: 48%;
    width: 186px;
    height: 186px;
    bottom: -186px;
    animation-delay: 51s;
}
.background li:nth-child(21) {
    left: 20%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 43s;
}
.background li:nth-child(22) {
    left: 29%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 36s;
}
.background li:nth-child(23) {
    left: 41%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 3s;
}
.background li:nth-child(24) {
    left: 7%;
    width: 147px;
    height: 147px;
    bottom: -147px;
    animation-delay: 71s;
}
.background li:nth-child(25) {
    left: 43%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 47s;
}
.background li:nth-child(26) {
    left: 49%;
    width: 177px;
    height: 177px;
    bottom: -177px;
    animation-delay: 43s;
}
.background li:nth-child(27) {
    left: 9%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 5s;
}
.background li:nth-child(28) {
    left: 51%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 1s;
}