<!DOCTYPE html>
<html language="zh-cn">
  <head>
    {% load static %}
    <link href="{% static 'css/classification.css' %}" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>大学生就业</title>
  </head>
  <body>
    <div>
      <div>
        <ul class="background">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
         </ul>
      </div>
      <div class="header">
        <ul class="nav">
          <button class="href"><a href="http://127.0.0.1:8000/">首页</a></li>
            <button class="href"><a class="active" href="http://127.0.0.1:8000/classification/">聚类</a></li>
            <button class="href"><a href="http://127.0.0.1:8000/sentiment/">情感分析</a></li>
            <button class="href"><a href="http://127.0.0.1:8000/questionAnswer/">问答</a></li>
      </ul>
    </div>
  </div>
    <h1>数据分类结果</h1>
    <img>
<p>KNN的预测准确率为:</p>
    <h1>数据聚类结果</h1>
    <img>
    <p>聚类结果每一类的词云图如下： </p>
    
  </body>  
</html>