<!DOCTYPE html>
<html language="zh-cn">
    <head>
        {% load static %}
        <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" type="text/javascript"></script>
        <script src="{% static 'js/home.js' %}"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>大学生就业</title>
    </head>
    <body>
    <div>
        <ul class="background">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
         </ul>
    </div>
    <div class="card">
        <div class="question">
            <div class="card3">
                <a class="tran3" href="http://127.0.0.1:8000/questionAnswer/">
                    <img class="bot" src="../static/images/bot.jpeg">
                    Q&A</a>
            </div>
        </div>
        <div>
            <div class="cluster">
                <div class="card1">
                    <a class="tran1" href="http://127.0.0.1:8000/classification/">
                        <img class="k" src="../static/images/16gl-K.png">
                        Clustering Analysis</a>
                </div>
            </div>
            <div class="emotional">
                <div class="card2">
                    <a class="tran2" href="http://127.0.0.1:8000/sentiment/">
                        <img class="smile" src="../static/images/smile.png">
                        Emotional Analysis</a>
                </div>
            </div>
        </div>
    </div>
  </body>  
</html>